@font-face {
    font-family: "Simpsons";
    src: url("../font/Simpsonfont.ttf") format("truetype");
}
@font-face {
    font-family: "Akbar";
    src: url("../font/akbar.ttf") format("truetype");
}
:root {
    --yellow: #FFD90F;
    --grey: #1E2430;
    --grey-dark: #131B2A;
    --grey-black: #0A1120;
    --white: #FCFCFC;
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: Simpsons, ubuntu;
    --font-tertiary: Akbar, ubuntu;
}

.image {
    width: 100%;
    background-color: var(--grey-dark);
    border-bottom: 1px solid var(--grey-black);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.image img {
    user-select: none;
    width: 100%;
    height: 100%;
}

.image-aspect-ratio {
    width: 100%;
    max-width: 649px;
    aspect-ratio: 649 / 480;
}

.hidden {
    position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    overflow-x: hidden;
    align-self: normal;
}

.intro .title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.intro p {
    color: black;
    font-size: 84px;
    text-align: center;
    font-family: var(--font-secondary);
    display: inline-block;
    position: relative;
}

.intro p::before,
.intro p::after {
    content: attr(data-text);
}

.intro p::after {
    color:  var(--yellow);
    position: absolute;
    z-index: 5;
    top: -2px;
    left: 7px;
}
.intro-text {
    padding: 20px;
    max-width: 1000px;
    width: 100%;
}

.intro-text h2 {
    font-size: 40px;
    /* font-weight: bold; */
    margin-bottom: 16px;
}
.intro-text p {
    font-size: 20px;
}
.intro-text p:first-of-type {
    margin-bottom: 20px;
}

.button {
    background-color: var(--grey);
    border: 1px solid var(--yellow);
    font-family: var(--font-tertiary);
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 3px;
    color: var(--yellow);
    position: relative;
    user-select: none;
    cursor: pointer;
}

/* https://stackoverflow.com/a/28058919 */
@media (hover: hover) {
    .button:hover {
        background-color: var(--yellow);
        color: var(--grey)
    }
}
body {
    background-color: var(--grey);
    color: var(--white);
    font-family: var(--font-primary);
}
.start-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.restart-button {
    margin-bottom: 20px;
}
.comic-book {
    margin-left:-220px;
    margin-top: -27px;
    margin-bottom: 22px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz-body {
    max-width: 640px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
}
.quiz-body h2 {
    font-size: 32px;
    user-select: none;
}
.quiz-body li {
   font-family: var(--font-primary);
   border-radius: 10px;
   color: var(--white)
}
.quiz-body ol {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
h1, h2, h3, h4, h5 {
    font-weight: 300;
}
.question-heading {
    font-size: 28px;
    padding: 12px;
    background-color: var(--grey-dark);
    width: 100%;
    text-align: center;
}
#home.hide {
    display: none;
}
#home,#quiz {
    align-self: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 450px) {
    .intro p {
        font-size: 68px;
    }
}
